---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Discussion',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
       
        {
          variant: 'primary',
          text: 'Let Discuss',

        },
      ]}
      isSticky
    />
  </Fragment>

 <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="A OT Platform"
    actions={[
    {
      variant: 'primary',
      text: 'Visit OT-Discussion',
      icon: 'tabler:arrow-right',
      href: 'https://ot-discussion.in/'
    },
    ]}
    image={{
      // src: 'https://cdn.pixabay.com/photo/2018/04/15/19/23/neural-network-3322580_960_720.png',
      src: 'https://raw.githubusercontent.com/awkward-py/Open-Source-Off-Topics/refs/heads/main/assets/images/logoo.png',
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="title">
      Something is <span class="text-accent dark:text-white highlight">Discussed Now!</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span >
        Join the discussion beyond academics with <span class="font-semibold"
          >IT Off-Topics discussion.</span
        > </span
      >
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Explore Our Key Features"
    subtitle="Discover how our top features enhance your engagement and simplify your navigation through discussions, connections, and career opportunities."
    columns={2}
    items={[
      {
        title: 'Home',
        description:
          'Discover the latest discussions and trending topics in one central hub. Stay updated with what is new and relevant in our community.',
        icon: 'tabler:home',
      },
      {
        title: 'Community',
        description: `Connect with like-minded individuals, share insights, and participate in lively discussions. Engage with a supportive and dynamic group of enthusiasts.`,
        icon: 'tabler:users-group',
      },
      {
        title: 'Collections ',
        description:
          'Browse and explore curated collections of discussion topics. Find conversations that interest you, organized by themes and categories.',
        icon: 'tabler:box',
      },
      {
        title: 'Find Jobs',
        description: ` Explore job opportunities related to the discussion topics. Connect with employers and discover career prospects within the community.`,
        icon: 'tabler:currency',
      },
      {
        title: 'Tags',
        description: `Use tags to quickly find discussions on specific subjects. Enhance your experience by filtering topics that matter most to you.`,
        icon: 'tabler:tags-filled',
      },
      {
        title: 'Ask a Question',
        description: `Have a query or need advice? Post your question to the group and get answers from experienced members and experts.`,
        icon: 'tabler:help',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'How do I use Tags to find specific discussions?',
        description:
          'Tags are keywords assigned to discussions that make it easier to search for specific topics. Use the Tags feature to filter and quickly locate discussions relevant to your interests.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I ask questions in any discussion, or is there a dedicated section for that?',
        description: `You can ask questions in the dedicated Ask a Question section, where you’ll get answers from experienced members. For general inquiries, you can also post questions in relevant discussions within the Community section.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'How do I stay updated on new topics and discussions?',
        description:
          'The Home page automatically updates with the latest posts and trending discussions. You can also set notifications for new activity in specific sections or topics you follow.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What should I do if I can not find a topic I am interested in?',
        description: `If you can’t find a specific topic, consider using the search function or posting a query in the Ask a Question section. Additionally, explore Collections or Tags to see if related topics are available.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <CallToAction
  title="OT-Discussion is live"
  subtitle="We’re thrilled to announce that the platform is now complete and ready for you! We can’t wait for you to experience it. Stay tuned for even more exciting updates!"
  actions={[
    {
      variant: 'primary',
      text: 'Visit its available!',
      href: 'https://ot-discussion.in/',
      icon: 'tabler:arrow-right',
    },
  ]}
/>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with IT Off-topics blog"
    information={`IT Off-Topics Blog offers concise, informative posts on IT tutorials, academic tips, and open-source contributions. Stay updated with practical advice and industry trends to enhance your knowledge and skills.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
